@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0;
}

.damonContainer{
  @apply px-3 mx-auto max-w-[400px] md:max-w-[700px] xl:max-w-[1000px];
}

.my-bg-gradient{
  background: linear-gradient(to right, #b2fefa, #0ed2f7);
}

.list-gradient{
  background: linear-gradient(to right, #f2994a, #f2c94c);
}
